.jumbotron {
  margin: 0;
  padding: 30px;
  background-image: linear-gradient(to right, #54bf56, #87f5ba, #c1f5d9);
  color: white;
}

.navbar {
  background-color: #38a168;
}

.header-logo {
  border-radius: 50%;
  -webkit-transition: -webkit-transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out;
}
.header-logo:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

img {
  height: 200px;
  width: 300px;
}

.site-footer {
  background-image: linear-gradient(#69d893, white);
  padding: 20px 0;
}
